.input {
  width: 100%;
  padding: 8px 11px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 12px;
  outline: none;
}

.input:focus {
  border-color: #a8a8a8;
}

.input::placeholder {
  color: #8e8e8e;
}

.inputError {
  margin-top: 4px;
  color: #ed4956;
  font-size: 12px;
  max-width: 175px;
}
