* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.fa-circle-exclamation {
  color: red;
  display: inline-block;
  margin-right: 6px;
}

.fa-circle-check {
  color: green;
  display: inline-block;
  margin-right: 6px;
}
