.form div {
  margin-bottom: 6px;
  text-align: start;
}

.form div:last-of-type {
  margin-bottom: 26px;
}

.terms {
  font-size: 12px;
  color: #737373;
  line-height: 16px;
}

.terms:last-of-type {
  margin-bottom: 26px;
}

.termsLink {
  text-decoration: none;
  color: #00376b;
}

.loginDivider {
  margin-top: 22px;
  position: relative;
  color: #737373;
  margin-bottom: 73px;
}

.loginDivider::before {
  position: absolute;
  content: "";
  width: 40%;
  top: 9px;
  left: 0;
  height: 1px;
  background-color: #dbdbdb;
}

.loginDivider::after {
  position: absolute;
  content: "";
  width: 40%;
  top: 9px;
  right: 0;
  height: 1px;
  background-color: #dbdbdb;
}

.link {
  text-decoration: none;
  color: #00376b;
}
.responseMessage {
  margin-bottom: 24px;
  border: 1px solid #dbdbdb;
  font-size: 13px;
  padding: 4px 8px;
  text-align: start;
}
